body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}

header {
  color: white;
  text-align: center;
  padding: 10px;
}

.img img {
  max-width: 40%;
  height: auto;
  text-align: center;
}

.maintitle {
  margin: 10px 0;
  color: blue;
}

.section1 {
  background-color: white;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  text-align: center;
  border: solid;
}

.section2 {
  background-color: white;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  text-align: center;
  border: solid;
}

.titulo {
  color: blue;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: 50px;
  font-size: larger;
}

.subtitulo {
  color: blue;
}

.subtitulo-inicio {
  color: blue;
  text-align: center;
}

.subtitulo-formulario {
  color: blue;
  text-align: center;
}

.etiquetas-formulario {
  color: blue;
}



input[type="text"],
input[type="password"] {
  width: 55%;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.boton {
  background-color: #333;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

input[type="button"]:hover {
  background-color: #555;
}

.boton-cita {
  margin-top: 10px;
  cursor: pointer;
}

.boton-cancelar {
  margin-top: 10px;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: blue;
}

a:hover {
  text-decoration: underline;
}

#tratamiento-datos {
  margin: 10px;
}

.nav-enlace {
  background: grey;
  color: white;
  padding: 10px 50px;
  display: inline-block;
}

.nav-enlace:hover {
 background: #0088ff;
}

.imagen-cabecera {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
}

.main {
 
  width: 57%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-de-citas {
  border: solid;
}

.main-de-cancelar {
  border: solid;
}

.imagen-main {
  width: 40%;
  height: 80%;
  
}

#contenido {
  background: white;
  width: 80%;
  height: 50%;
  text-align: justify;
  margin-right: 10px;
  border: dashed;
  border-color: grey;
}

.subtitulos-cancelar {
  color: blue;
}